/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
    margin: 0;
}

body,
button,
input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

h1,
h2,
h3 {
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}
/* Promo section */
header{
    background: #cb997e;
    /*color:white;*/
}
header h1, header h2{
	color: #343434;
    font-style: italic;  
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0;
	padding: 0;

}
header h1{
	font-size: 100px;
    line-height: 1;

}
header h2{
	font-size: 45px;
}


/*Nav section*/

.menu-icon {
	font-size: 2em;                    /* Set size of hamburger menu icon */
	/*color: #fff;                       /* Set color of hamburger menu icon */
	color: #343434;                      /* Set color for navigation links */

	cursor: pointer;

}
nav {
	position: absolute;                /* Absolute positions nav on page */
	top: 21em;                        /* Add space to top of screen so links are below hamburger icon */
	left:0;                            /* Navigation links should appear on left side of screen */
	width: 100%;                       /* Similar to .menu-wrap, nav should fill entire horizontal space */
	background: #cb997e;


}
nav ul {
	list-style-type: none;             /* Get rid of bullets on unordered list (navigation links) */
	max-height: 0em;                   /* Section containing navigation links should be collapsed until hamburger menu icon is toggled */
	overflow: hidden;                  /* Content of collapsed section should be hidden */
	transition: max-height 1s;       /* Transition between opening and closing of navigation should take 0.5 seconds */
	padding: 12px;
	margin: 0;
}
nav ul li a {
	display: block;                    /* Links should be displayed as block (each link taking up its required space on a new line) */
	color: #343434;                      /* Set color for navigation links */
	text-decoration: none;             /* Get rid of underlines on navigation links */
	padding: .75em;             /* Set padding for each navigation link */

}
nav ul li a:hover, nav ul li a:focus {
	color:white;
	/*color: #e75;      */                 /* Change color of link when hovered over or focused on */
}
#checkbox {
	display: none;                     /* Although the checkbox functionality is needed, we don't want to see the actual checkbox */
}
#checkbox:checked ~ nav ul {
	max-height: 11em;                  /* When the checkbox is checked, expand the height of ul to reveal navigation */
}




/* Splash section */

.splash {
	background: #FFF6E5;
	padding-bottom: 2em;
	text-align: center;

}

.splash-content {
	padding: 1.5em;
}

/*Bucklet*/
.bucket{
	font-size: 10px;
	margin: 0;
	padding: 0;
}
.bucket h3, p {
	text-align: center;
	margin: 0;
	padding: 0;

}

/* Buckets section */

.wrapper {
	padding: 2em 1em 1em;
	background: #3E454C;
}

.wrapper ul {
	margin: 0;
	padding: 0;
}

.wrapper li {
	font-size: 11px;
	background: white;
	list-style-type: none;
	
}
/*
.bucket {
	padding: 1.5em;
}*/

/* More section */

.more {
	padding: 2em;
}

/* Twins section */

.twin {
	padding: 2em;
	background: #2185C5;
	color: white;
}

.twin:last-of-type {
	background: #FF7F66;
}

/* Colophon section */
.colophon {
	padding: 2em;
	background: hsl(0, 0%, 10%);
	color: white;
	text-align: center;
}

.colophon a {
	color: white;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid white;
}



/*--------------------------------------------------------------
Use flex to create a three-bucket layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 50em;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

/* Check for CSS Grid support: */
@supports (grid-area: auto) {


	/* Enable grid for viewports 600px and wider: */
	@media screen and (min-width: 600px) {

		/* Disable fallback max-width center aligned rule: */
		.site {
			max-width: none;
		}

		/* Four-column layout: Two center columns have total width of 50em: */
		.main-area > *,
		.colophon {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
			
		}

		/* Center items by placing them in the two center columns: */
		.splash-content,
		.more-content{
			grid-column: 2/4;
		}	
		.wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		gap: 10px;
		
		
		}	
		.wrapper li.portrait {
		grid-row-end: span 2;		
		}

		.splash-text {
			columns: 1;
			column-gap: 2em;
		}
	
		.splash-text p {
			padding: 0;
		}

		/* Use automatic grid placement + span to let each item span two columns: */
		.twin,
		.colophon aside {
			grid-column: 2 span;
		}
		
		.menu-icon {
			display: none;                /* Hide hamburger menu icon on larger screens */
		}
		nav {
			position: relative;
			top: -1em; 
			text-align: center;
                   

		}
		nav ul {
			max-height: 1em;           /* Adjust max-height to fit content horizontally rather than vertically */
			padding: 15px 0;
		}
		nav ul li {
			display: inline-block;        /* Display list items as an inline-block (on a single line) */
			padding-left: 1em;            /* Add padding between horizontal links */
		}


	}

	
	@media screen and (min-width: 1000px) {
		
		
		/*@supports (display: flex) {

			.buckets ul {
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
			}

			.buckets li {
				width: 31%;
			}

		}*/

		/* Four-column layout: Two center columns have total width of 50em: */
		.main-area > *,
		.colophon {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
			
		}
		/* Center items by placing them in the two center columns: */
		.splash-content,
		.more-content{
			grid-column: 2/4;
		}	
		.wrapper {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: auto;
		gap: 10px;
		
		
		}	
		.wrapper li.portrait {
		grid-row-end: span 2;		
		}

		.splash-text {
			columns: 1;
			column-gap: 2em;
		}
	
		.splash-text p {
			padding: 0;
		}

		/* Use automatic grid placement + span to let each item span two columns: */
		.twin,
		.colophon aside {
			grid-column: 2 span;
		}

	}
	
}
